@model BetterTaxi.Web.Areas.Administration.ViewModels.RolesAdministrationVM
@{
    ViewBag.Title = "Index";
    List<SelectListItem> userRoles = (List<SelectListItem>)ViewBag.UserRoles;
}

<div class="page-header">
    <h1>
        User Roles
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table  table-striped table-bordered table-hover">
            <tr>
                <th>&nbsp;</th>
                <th>@Html.LabelFor(m => m.Accounts.First().Roles)</th>
                <th>@Html.LabelFor(m => m.Accounts.First().FullName)</th>
                <th>@Html.LabelFor(m => m.Accounts.First().PhoneNumber)</th>
                <th>@Html.LabelFor(m => m.Accounts.First().Email)</th>
            </tr>
            @{
                var count = 1;
            }
            @foreach (var user in Model.Accounts)
            {
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @{

                            foreach (var roleid in user.Roles)
                            {
                                var roleLabelText = userRoles.Find(m => m.Value == roleid);
                                @roleLabelText.Text<br />
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => user.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => user.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(model => user.Email)
                    </td>
                </tr>
                count++;
            }
        </table>
    </div>   
</div>

